.player-item{
    max-width: 320px;
    margin-bottom: 20px;
    
    img{
        width: 100%;
        aspect-ratio: 1/1;
        cursor: pointer;
    }

    h3{
        font-size: 23px;
        margin-bottom: 0.2em;
    }

    p{
        font-size: 16px;
        margin-bottom: 0.2em;
    }

    .btn-primary{
        background-color: black;
        border-color: black;
        width: 100%;
    }
}

.sidebar {
    height: 100vh;
    border-right: 1px solid #ccc;
     /* Ancho deseado para la barra lateral */
  }
  .player:hover {
    background-color: #32373b!important; /* Cambia el color de fondo al pasar el mouse */
    transition: background-color 0.4s ease;
    color: #f0f0f0!important; /* Cambia el color del texto al pasar el mouse */
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    
  }

  